#table > .tab-content {
  background-color: #a19090;
}
#denahUnit > .nav-tabs {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
#denahUnit > .nav-tabs > .nav-link{
  background-color: #FBF7F6;
}
#denahUnit > .nav-tabs > .nav-link.active{
  background-color: #e9e9e9;
  border-color: #e9e9e9;
}
#spec {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;
}
#spec > .nav-tabs{
  border: none;
  max-width: max-content;
}
#spec > .nav-tabs .nav-link{
  border: none;
}
#spec > .nav-tabs > .nav-link.active{
  background-color: #e9e9e9;
  border-color: transparent transparent #4E5E79 transparent;
  border-bottom: 5px solid;
  margin-bottom: -5px;
}