.vh-100{
    height: 100vh;
}
.suspense{
    position: fixed;
    z-index: 99;
    background: linear-gradient(-45deg, rgb(212, 242, 253), rgb(255, 255, 255), #edfaff, #CC9980);
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
    transition: .2s all;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 500px;
        margin-top: -250px; /* Half the height */
        margin-left: -250px; /* Half the width */
    }
    .suspense-backgrounds{
        width:100%; 
        height:100%; 
        // background:url(../../../assets/logo.svg) center center no-repeat;
    }
    @keyframes gradients {
        0% {
            backgroundPosition: "0% 50%",
        }
        50% {
            backgroundPosition: "100% 50%",
        }
        100% {
            backgroundPosition: "0% 50%",
        }
    }
}