.gmaps > .tab-content {
  background-color: transparent;
}
.gmaps {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;
  margin-bottom: 40px;
  justify-content: center;
}
.gmaps::after{
  content: '';
  border: 3px solid rgba(78, 94, 121, .5);
  display: block;
  height: 0;
  width: 100%;
  border-radius: 500px;
  margin-top: -8px;
}
.gmaps > a {
  color: #828282;
}
.gmaps > a:hover{
  color: #4E5E79;
}
.gmaps >  .nav-link.active{
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-bottom: none;
  margin-bottom: -6px;
  border-radius: 0;
}
.gmaps >  .nav-link.active::after{
  content: '';
  border: 3px solid #4E5E79;
  display: block;
  height: 0;
  width: 100%;
  border-radius: 500px;
  margin-top: 10px;
}
.gmaps > .nav-link{
  margin-left:auto;
  margin-right:auto;
  margin-bottom: -5px;
}