

#mobile-head-slider > .carousel > ol.carousel-indicators > li {
    background-color: #F8F8F8;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    opacity: 1;
}

#mobile-head-slider > .carousel > ol.carousel-indicators .active {
    background-color: #232323;
}

#mobile-head-slider div.carousel-caption {
    text-align: left;
    left: 13%;
}
/* ======= */
/* #mobileItemGallery > div > div > div > .slick-slide {
    width: 250px !important;
} */
#mobileLogoSlider > div > .slick-list{
    padding:0 20% 0 0;
}
#mobileLogoSlider > .slick-slider{
 background: rgb(224, 224, 224) none repeat scroll 0% 0%;
}

#mobileItemGallery .slick-dots li #dots {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    margin: 11px 8px 0 8px;
    background: #828282;
    opacity: 0.2;
}

#mobileItemGallery .slick-dots li.slick-active #dots {
    background: #CC9980;
    opacity: 1;
}