/* #mobileItemGallery > div.slick-slider > div.slick-list > div.slick-track > div.slick-slide {
    margin: 0 10px;
} */

#mobile-head-slider > .carousel > ol.carousel-indicators > li {
    background-color: #F8F8F8;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    opacity: 1;
}

#mobile-head-slider > .carousel > ol.carousel-indicators .active {
    background-color: #232323;
}

#mobile-head-slider div.carousel-caption {
    text-align: left;
    left: 13%;
}