#gallery > div > div > div > .slider {
  /* width: 100%; */
  /* margin: 20px auto; */
  text-align: center;
}

#gallery > div > div > div > .slider div {
  /* margin-right: 5px; */
}

#gallery > div > div > div > .slick-slide {
  filter: grayscale(100%);
  /* width: 10px; */
  padding: 0px 60px;
  transition: 1s all;
  /* width: 900px !important; */
  /* display: inline-table; */
}

#gallery > div > div > .slick-track{
  /* display: inline-flex; */
}

#gallery > div > div > div > .slick-center {
  filter: grayscale(0%);
  transform: scale(1.08);
}

#gallery > .slick-slider > .slick-list{
  padding: 100px 250px !important;
}
#gallery > .slick-prev {
  top: 40%;
}
#gallery > .slick-next {
  top: 40%;
}