#gallery > div > div > div > .slider {
  /* width: 100%; */
  /* margin: 20px auto; */
  text-align: center;
}


#gallery > div > div > div > .slick-slide {
  filter: grayscale(100%);
  filter: brightness(50%);
  /* width: 10px; */
  padding: 0px 30px;
  transition: 1s all;
  /* width: 900px !important; */
  /* display: inline-table; */
}


#gallery > div > div > div > .slick-center {
  filter: grayscale(0%);
  transform: scale(1.08);
  filter: brightness(100%);
}

#gallery > .slick-slider > .slick-list{
  padding: 100px 250px 0px 250px !important;
}
#gallery > .slick-prev {
  top: 40%;
}
#gallery > .slick-next {
  top: 40%;
}
#gallery > div > .slick-dots{
  bottom:120px;
}