@font-face {
  font-family: 'Gilroy Bold';
  src: url('./assets/fonts/Gilroy/Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'Gilroy Regular';
  src: url('./assets/fonts/Gilroy/Gilroy-Regular.ttf');
}
@font-face {
  font-family: 'Verlag Bold';
  src: url('./assets/fonts/Verlag/Verlag-Book.ttf');
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova/ProximaNova-Regular.otf');
}
a:not([href]){
  color:#CC9980;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4{
  font-family: 'Gilroy Bold' !important;
}
.h5, .h6, h5, h6 {
  font-family: 'Verlag Bold' !important;
}
:focus{
  outline: none !important;
}
/* html{
  scroll-behavior: smooth;
} */
/* Heading 1 */
h1, .h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #12284C;
}
@media only screen and (max-width: 375px) {
 h1, .h1{
   font-size: 22px;
 }   
}
/* Heading 2 */
h2, .h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #232323;
}
/* Heading 3 */
h3, .h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #232323;
}
/* Heading 4 */
h4, .h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #232323;
}
/* Caption 1 
  ok
*/ 
h5, .h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #CC9980;
}
/* Caption 2 */
h6, .h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #232323;
}
p, span {
  font-family: 'Proxima Nova' !important;
}
/* Body 1 */
p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #232323;
  mix-blend-mode: normal;
}
/* Body 2 */
span {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #232323;
}
p>span{
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
h1>span{
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.btn, button {
  border: 0px;
  user-select: none;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: .15s all;
  background: #12284C;
  font-family: 'Verlag Bold' !important;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
}
/* Button Normal */
.btn, button {
  font-size: 17px;
  line-height: 22px;
}
.container{
  max-width: 1110px;
}
.container-2{
  max-width: 980px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
body{
  background-color: #FAFAFA;
}
a, button {
  outline: 0;
}
.form-control{
  border: 1px solid #F9F9F9;
  background-color: #F9F9F9;
  border-radius: 2px;
  height: 40px;
}
input,textarea::placeholder{
  color: #232323 !important;
  font-size: 13px !important;
  line-height: 18px !important;
}
select{
  font-size: 13px !important;
  line-height: 18px !important;
  color: #232323 !important;
  opacity: 1;
}
a{
  color: #CC9980;
  transition: .3s all;
}
a:hover{
  color: #CC9980;
}
.btn {
  border-radius: 0;
  padding: 11px 35px;
}
.navbar-brand {
  margin-right: 3rem;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 2rem;
  padding-left: 0;
  letter-spacing: .5px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color: transparent;
}
.button-secondary{
  background: #CC9980;
}
button .disable{
  background-color: #F2E5DF;
}
.button-secondary .disable{
  background-color: #F2E5DF;
}
a .button-small {
  font-family: 'Verlag Bold' !important;
  padding: 11px 35px !important;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}
.hide{
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}
.show{
  opacity: 1;
  transition: .5s;
  visibility: visible;
}
.h-hide{
  height: 150px;
  transition: .5s all;
}
.h-show{
  height: 600px;
  transition: .5s all;
}
.my-dots > li .slick-active > button::before{
  width: 8px;
  height: 8px;
  color: #000;
}
.my-dots > li > button::before{
  width: 8px;
  height: 8px;
  color: #fff;
  font-size: 8px;
  opacity: 1;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
#mobile-denahunit > .selectField:after{
  right: -10px !important;
}
.selectField:after {
  content: url('./assets/carret-down.svg');
  color: #000;
  right: 11px;
  top: 4px;
  height: 30px;
  padding: 4px 0px 0px 4px;
  position: absolute;
  pointer-events: none;
}
.fs-22{
  font-size: 22px !important;
}

.nav-tabs .nav-link{
  border-radius: 0;
}
.nav-fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: .5s all;
  background-color: #232323;
  color: #fff !important;
}
.nav-fixed-null{
  background-color: #fff;
  position: relative;
  transition: .5s all;
}