@font-face {
  font-family: Gilory Bold;
  src: url('./assets/fonts/Gilroy/Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'Verlag Bold';
  src: url('./assets/fonts/Verlag/Verlag-Bold.ttf');
}
@font-face {
  font-family: Proxima Nova Book;
  src: url('./assets/fonts/ProximaNova/ProximaNova-Regular.otf');
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4{
  font-family: 'Gilory Bold' !important;
}
.h5, .h6, h5, h6 {
  font-family: 'Verlag Bold' !important;
}
/* Heading 1 */
h1, .h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #232323;
}
/* Heading 2 */
h2, .h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #232323;
}
/* Heading 3 */
h3, .h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #232323;
}
/* Heading 4 */
h4, .h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #232323;
}
/* Caption 1 */
h5, .h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #232323;
}
/* Caption 2 */
h6, .h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #232323;
}
p, span {
  font-family: 'Proxima Nova Book' !important;
}
/* Body 1 */
p {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  color: #232323;
  mix-blend-mode: normal;
}
/* Body 2 */
span {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #232323;
}
.btn, button {
  border: 0px;
  user-select: none;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: .15s all;
  background: #CC9980;
  font-family: 'Verlag Bold' !important;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
}
/* Button Normal */
.btn, button {
  font-size: 17px;
  line-height: 22px;
}
.container{
  max-width: 1110px;
}
.container-2{
  max-width: 980px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
body{
  background-color: #FAFAFA;
}
.form-control{
  border: 1px solid #F9F9F9;
  background-color: #F9F9F9;
  border-radius: 2px;
}
input,textarea::placeholder{
  color: #B5B5B5 !important;
  font-size: 13px !important;
  line-height: 18px !important;
}
select{
  font-size: 13px !important;
  line-height: 18px !important;
  color: #000000 !important;
  opacity: 1;
}
a{
  color: #CC9980;
  transition: .3s all;
}
a:hover{
  color: #3F3356;
}
.btn {
  border-radius: 0;
  padding: 11px 35px;
}
.navbar-brand {
  margin-right: 3rem;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 2rem;
  padding-left: 0;
  letter-spacing: .5px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color: transparent;
}
button .button-small {
  background: #CC9980;
  font-family: 'Verlag Bold' !important;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}
.button-secondary{
  background: #CC9980;
}
button .disable{
  background-color: #F2E5DF;
}
.button-secondary .disable{
  background-color: #F2E5DF;
}
a .button-small {
  font-family: 'Verlag Bold' !important;
  padding: 11px 35px !important;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}