body section {
  margin: 0;
  font-family: 'Proxima Nova Book',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: Gilory Bold;
  src: url('./assets/fonts/Gilroy/Gilroy-Bold.ttf');
}
@font-face {
  font-family: Verlag Bold;
  src: url('./assets/fonts/Verlag/Verlag-Bold.ttf');
}
@font-face {
  font-family: Proxima Nova Book;
  src: url('./assets/fonts/ProximaNova/ProximaNova-Regular.otf');
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Gilory Bold' !important;
}
button{
  font-family: 'Verlag Bold' !important;
}
